.chat-container {
    height: calc(100vh - 56px);
    position: relative;
    width: 90%;
    margin: auto;

    .chat-title {
        height: auto;
        z-index: 10;
        background-color: white;
    }

    .chat-messages {
        height: calc(75vh - 56px);
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
      }
    .message_content{
        width: 100%;
    }
    .chat-form {
        height: 5vh;
        width: 90%;
        margin: auto;
        position: absolute;
        left: 5%;  
        bottom: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 4px 0;

        form {
            position: relative;
        }

        textarea {
            // padding: 10px;
            // padding-right: 50px;
            resize: none;
            background-color: transparent;
            width: 100%;
            height: auto;
            border: none;
            padding: 0 auto;
        }
        button {
            position: absolute;
            top: -4px;
            right: 10px;
            outline: none;
            border: none;
            background: transparent;
            font-size: 30px;
            color: $primary;
        }
    }

    .message-container {
        p{
            margin-bottom: 0;
        }
        .author {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .speech-bubble {
            position: relative;
            width: 85%;
            background: $primary;
            color: white;
            border-radius: 15px;
            padding: 10px;
        }

        &.receiver {
            .speech-bubble {
                margin-left: 20px;
                padding-left: 20px;
            }

            .speech-bubble:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-right-color: $primary;
                border-left: 0;
                border-bottom: 0;
                margin-top: -10px;
                margin-left: -19px;
            }
        }

        &.sender {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .speech-bubble {
                margin-right: 20px;
                padding-right: 20px;

                p {
                    text-align: end;
                }
            }
            .speech-bubble:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-left-color: $primary;
                border-right: 0;
                border-bottom: 0;
                margin-top: -10px;
                margin-right: -19px;
            }
            .author-name {
                margin-left: 68px;
            }
           
            .author {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}
  
.form-control{
    transition: none;
    border: none;
}