<div class="banner container-fluid">
  <div class="container col-12">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search by date / by location / by tags" />
      <button name="button" type="submit" class="btn btn-flat btn-height">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <div>
  </div>
   <h1>
     <span id="banner-typed-text"></span>
   </h1>
    <a class="btn btn-flat" href="/buddies">Discover buddies</a>
  </div>
</div>

<div class="container pt-5">
  <div class="row d-flex justify-content-between">
    <div class="card-product col-12 col-md-6 col-lg-4">
      <img src="assets/shoppingcard.png" />
      <div class="card-product-infos">
        <h2>Discover</h2>
        <p> Hire your <strong>finest</strong> buddy.</p>
      </div>
    </div>
    <div class="card-product col-12 col-md-5 col-lg-4">
      <img src="assets/validatecard.png" />
      <div class="card-product-infos">
        <h2>Request</h2>
        <p>Send a request with your <strong>start & end</strong> date.</p>
      </div>
    </div>
    <div class="card-product col-12 col-md-5 col-lg-3">
      <img src="assets/partycard.png" />
      <div class="card-product-infos">
        <h2>Party</h2>
        <p>Hang out<strong> and enjoy</strong> your buddy.</p>
      </div>
    </div>  
  </div>
</div>
