 .navbar {
  justify-content: space-between;
  background-color: white;
  padding: 0.3rem 1rem;
}

.navbar .navbar-collapse  {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 130px;
}

.buddy-info {
  color: black;
  opacity: 0.5;
}

.dropdown-menu-right {
  right: 0;
}

a .logout-margin {
  margin-left: 20px !important;
}